In [1]:
import pandas as pd
import numpy as np

In [4]:
df_movies= pd.read_csv('../ETL/movies_limpio.csv')
df_cast= pd.read_csv('../ETL/cast.csv')
df_crew= pd.read_csv('../ETL/crew.csv')

C:\Users\clari\AppData\Local\Temp\ipykernel_12980\2785165809.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies= pd.read_csv('../ETL/movies_limpio.csv')

In [37]:
def cantidad_filmaciones_mes(mes):
    meses = {
        "enero": 1,
        "febrero": 2,
        "marzo": 3,
        "abril": 4,
        "mayo": 5,
        "junio": 6,
        "julio": 7,
        "agosto": 8,
        "septiembre": 9,
        "octubre": 10,
        "noviembre": 11,
        "diciembre": 12
    }

    if mes.lower() in meses:
        numero_mes = meses[mes.lower()]
        cantidad_peliculas = obtener_cantidad_peliculas_mes(numero_mes)
        return f"{cantidad_peliculas} película(s) fueron estrenadas en el mes de {mes.capitalize()}."
    else:
        return "El mes ingresado no es válido."

# Función auxiliar para obtener la cantidad de películas estrenadas en x mes
def obtener_cantidad_peliculas_mes(numero_mes):
    cantidad_peliculas = len(df_movies[df_movies['release_month'] == numero_mes])
    return cantidad_peliculas


#prueba
mes_consultado = "Junio"
resultado = cantidad_filmaciones_mes(mes_consultado)
print(resultado)

3145 película(s) fueron estrenadas en el mes de Junio.

# funcion dia

In [124]:
def cantidad_filmaciones_dia(dia:str):
    dia=dia.lower()
    dias=['lunes','martes','miercoles','jueves','viernes','sabado','domingo']
    
    if dia == "lunes" or dia == "martes" or dia == "miércoles" or dia == "jueves" or dia == "viernes" or dia == "sábado" or dia == "domingo":
        aux_dia = dias.index(dia)
        df_movies["release_date"] = pd.to_datetime(df_movies["release_date"])
        df_movies["release_day"] = df_movies["release_date"].dt.weekday
        resultado = df_movies.loc[df_movies["release_day"] == aux_dia].shape[0]
        return f"{resultado} película(s) fueron estrenadas en los días {dia.capitalize()}."  
    
    else:
        resultado = 'El día ingresado no es válido'
        return resultado  
   
   
cantidad_filmaciones_dia('martes')

'4630 película(s) fueron estrenadas en los días Martes.'

# Score

In [209]:
def score_titulo(titulo_de_la_filmacion):
    titulos = df_movies['title']
    
    for titulo in titulos:
        if titulo == titulo_de_la_filmacion:
            fecha_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['release_year']
            popularidad_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['popularity']
            
            if not fecha_series.empty and not popularidad_series.empty:
                fecha = fecha_series.astype(str).iloc[0]
                popularidad = popularidad_series.astype(str).iloc[0]
                return f"La película {titulo.capitalize()} fue estrenada en el año {fecha} con una puntuación/popularidad de {popularidad}."
    
    return 'No se ha encontrado el título de la filmación'

In [210]:
print(score_titulo("Toy Story"))
print(score_titulo("A Death in the Gunj"))
print(score_titulo("Waiting to Exhale"))

La película Toy story fue estrenada en el año 1995 con una puntuación/popularidad de 21.946943.
La película A death in the gunj fue estrenada en el año 1991 con una puntuación/popularidad de 0.516993.
La película Waiting to exhale fue estrenada en el año 1995 con una puntuación/popularidad de 3.859495.

In [207]:
df_movies['title']

0                            Toy Story
1                              Jumanji
2                     Grumpier Old Men
3                    Waiting to Exhale
4          Father of the Bride Part II
                     ...
45286              A Death in the Gunj
45287                        Phillauri
45288                     Polar Flight
45289    Simbad e il califfo di Bagdad
45290                        Black Sun
Name: title, Length: 45291, dtype: object

In [184]:
titulos= df_movies['title']
buscado='Toy Story'
for titulo in titulos:
    buscado='Toy Story'
    if titulo == buscado:
        fecha= df_movies[df_movies['title']== buscado]['release_date'].astype(str)[0]
        print(titulo, fecha)
        break
    else:
        print('no esta la pelicula')

Toy Story 1995-10-30

In [183]:
fecha= df_movies[df_movies['title']== buscado]['release_date'].astype(str)[0]
fecha

'1995-10-30'

In [188]:
popularidad= df_movies[df_movies['title']== buscado]['popularity'].astype(str)[0]
popularidad

'21.946943'

# Votos

In [26]:
def votos_titulo(titulo_de_la_filmacion) : 
    titulos = df_movies['title']
    
    for titulo in titulos:
        if titulo == titulo_de_la_filmacion:
            fecha_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['release_year']
            n_votos_series =  df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_count'].astype(int)
            promedio_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_average']
            
            if not n_votos_series.empty and not fecha_series.empty and not promedio_series.empty:
                fecha = fecha_series.astype(str).iloc[0]
                n_votos = int(n_votos_series.astype(str).iloc[0])
                promedio= promedio_series.astype(str).iloc[0]
                
                if n_votos >= 2000:
                 return f"La película {titulo.capitalize()} fue estrenada en el año {fecha}. La misma cuenta con un total de {n_votos} valoraciones, con un promedio de {promedio}."
    
    return 'La filmacion no cuenta con suficientes votos para obtener la informacion solicitada.'

In [30]:
print(votos_titulo('Toy Story'))
print(votos_titulo('Grumpier Old Men'))

La película Toy story fue estrenada en el año 1995. La misma cuenta con un total de 5415 valoraciones, con un promedio de 7.7.
La filmacion no cuenta con suficientes votos para obtener la informacion solicitada.

In [17]:
titulo_de_la_filmacion= "Toy Story"

In [14]:
n_votos =  df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_count'].astype(int)
n_votos

0    5415
Name: vote_count, dtype: int32

# actor

In [6]:
from pandas.core.reshape.merge import merge
#me da un error en el tipo de datos, por lo que convertire la columna id a numerico
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce')# los que no son numericos los paso a nan
df_movies = df_movies.dropna(subset=['id'])#aqui elimino los nan
df_movies['id'] = df_movies['id'].astype(int)#convierto a entero

In [33]:
actor = df_cast.merge(df_movies[['title', "return", 'id']], how="left", on="id")  
actor

,Unnamed: 0,cast_id,character,credit_id,gender,id,name,order,profile_path,title,return
0,0,14,Woody (voice),52fe4284c3a36847f8024f95,2,862,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,Toy Story,12.451801
1,1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,862,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,Toy Story,12.451801
2,2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,862,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,Toy Story,12.451801
3,3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,862,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,Toy Story,12.451801
4,4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,862,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,Toy Story,12.451801
...,...,...,...,...,...,...,...,...,...,...,...
562524,562127,2,NaN,52fe4ea59251416c7515d7d5,2,227506,Iwan Mosschuchin,0,NaN,NaN,NaN
562525,562128,3,NaN,52fe4ea59251416c7515d7d9,1,227506,Nathalie Lissenko,1,NaN,NaN,NaN
562526,562129,4,NaN,52fe4ea59251416c7515d7dd,2,227506,Pavel Pavlov,2,NaN,NaN,NaN
562527,562130,5,NaN,52fe4ea59251416c7515d7e1,0,227506,Aleksandr Chabrov,3,NaN,NaN,NaN
562528,562131,6,NaN,52fe4ea59251416c7515d7e5,1,227506,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,NaN,NaN

In [34]:
actor.to_csv('actor.csv')

In [35]:
nombres= actor['name']
buscado='Tim Allen'

for nombre in nombres:
    buscado='Tim Allen'
    if nombre == buscado:
        contador = actor[actor['name'] == buscado]['title'].shape[0]
        retorno_total = actor[actor['name'] == buscado]['return'].sum()
        retorno_promedio= retorno_total/ contador
        print(nombre ,contador, retorno_total, retorno_promedio )
        break
    else:
        print('no esta la pelicula')

no esta la pelicula
Tim Allen 29 50.202883432249976 1.7311339114568958

In [36]:
def get_actor(nombre_actor) :
    nombres = actor['name'] 
    
    for nombre in nombres:
        if nombre == nombre_actor:
            contador= actor[actor['name'] == nombre_actor]['title'].shape[0]
            retorno_total = actor[actor['name'] == nombre_actor]['return'].sum().round(2)
            retorno_promedio = (retorno_total / contador).round(2)
            
        
            return f"El actor {nombre.capitalize()} ha recibido de {contador} filmaciones, un retorno de {retorno_total} con un promedio de {retorno_promedio} por filmación."
    
    return  'No se ha encontrado el actor solicitado.'

In [37]:
get_actor('Tim Allen')

'El actor Tim allen ha recibido de 29 filmaciones, un retorno de 50.2 con un promedio de 1.73 por filmación.'

# Director

In [7]:
#hago un  merge entre crew y movies para armar un dataset mas chico para las consultas
director = df_crew.merge(df_movies[['title', 'release_date','budget', 'revenue','return', 'id']], how='left', on='id')  
director

,Unnamed: 0,credit_id,department,gender,id,job,name,profile_path,title,release_date,budget,revenue,return
0,0,52fe4284c3a36847f8024f49,Directing,2,862,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
1,1,52fe4284c3a36847f8024f4f,Writing,2,862,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
2,2,52fe4284c3a36847f8024f55,Writing,2,862,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
3,3,52fe4284c3a36847f8024f5b,Writing,2,862,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
4,4,52fe4284c3a36847f8024f61,Writing,0,862,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464358,463922,52fe4776c3a368484e0c8399,Sound,0,67758,Original Music Composer,Richard McHugh,NaN,NaN,NaN,NaN,NaN,NaN
464359,463923,52fe4776c3a368484e0c839f,Camera,2,67758,Director of Photography,João Fernandes,NaN,NaN,NaN,NaN,NaN,NaN
464360,463924,533bccebc3a36844cf0011a7,Directing,0,227506,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg,NaN,NaN,NaN,NaN,NaN
464361,463925,58ebbc26925141281908aa0a,Production,2,227506,Producer,Joseph N. Ermolieff,NaN,NaN,NaN,NaN,NaN,NaN
464362,463926,593e676c92514105b702e68e,Directing,0,461257,Director,Daisy Asquith,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
director.drop_duplicates(inplace=True)
director.reset_index(drop=True, inplace=True)

In [133]:
director.to_csv('director.csv')

In [9]:
def get_director(nombre_director):
    nombres = director['name']
    
    for nombre in nombres:
        if nombre == nombre_director:
            peliculas = (director[director['name'] == nombre_director]['title']).drop_duplicates()
            exito = (((director[director['name'] == nombre_director]['return']).drop_duplicates()).sum()).round(2)
            
        
            resultado = f"El director {nombre.capitalize()} ha obtenido un éxito de {exito}. Sus películas:\n"
            
            for i, pelicula in enumerate(peliculas):
                fecha_lanzamiento = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['release_date'].iloc[0]
                retorno = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['return'].iloc[0]
                costo = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['budget'].iloc[0]
                ganancia = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['revenue'].iloc[0]
                
                resultado += f"Película {i+1}: {pelicula}, lanzada el {fecha_lanzamiento} con un retorno de {retorno}. Sus costos={costo} USD y ganancias={ganancia} USD \n "
            
           
            
            return print(resultado)
    
    return 'No se ha encontrado el director solicitado.'

In [11]:
get_director('Cedric Gibbons')

El director Cedric gibbons ha obtenido un éxito de 96.44. Sus películas:
Película 1: The Philadelphia Story, lanzada el 1951-08-08 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 2: Singin' in the Rain, lanzada el 1957-02-13 con un retorno de 2.8337531486146097. Sus costos=2540800 USD y ganancias=7200000.0 USD
 Película 3: An American in Paris, lanzada el 1961-10-05 con un retorno de 1.6520412070473875. Sus costos=2723903 USD y ganancias=4500000.0 USD
 Película 4: Gaslight, lanzada el 1959-07-07 con un retorno de 0.0. Sus costos=2068000 USD y ganancias=0.0 USD
 Película 5: Meet Me in St. Louis, lanzada el 1939-12-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 6: The Wizard of Oz, lanzada el 1982-10-01 con un retorno de 12.15519157364062. Sus costos=2777000 USD y ganancias=33754967.0 USD
 Película 7: The Women, lanzada el 1940-08-16 con un retorno de 1.34478672985782. Sus costos=1688000 USD y ganancias=2270000.0 USD
 Película 8: The Band Wagon, lanzada el 1957-06-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 9: Ninotchka, lanzada el 1958-04-15 con un retorno de 1.6695970695970697. Sus costos=1365000 USD y ganancias=2279000.0 USD
 Película 10: The Thin Man, lanzada el 1956-10-17 con un retorno de 6.285113600226141. Sus costos=226408 USD y ganancias=1423000.0 USD
 Película 11: Moonlight Murder, lanzada el 1985-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 12: Forbidden Planet, lanzada el 1975-12-03 con un retorno de 1.7105263157894737. Sus costos=1900000 USD y ganancias=3250000.0 USD
 Película 13: The Broadway Melody, lanzada el 1931-02-09 con un retorno de 11.49868073878628. Sus costos=379000 USD y ganancias=4358000.0 USD
 Película 14: Grand Hotel, lanzada el 1935-11-08 con un retorno de 3.7057142857142855. Sus costos=700000 USD y ganancias=2594000.0 USD
 Película 15: Mutiny on the Bounty, lanzada el 1937-10-02 con un retorno de 2.287179487179487. Sus costos=1950000 USD y ganancias=4460000.0 USD
 Película 16: The Great Ziegfeld, lanzada el 1938-08-23 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 17: Mrs. Miniver, lanzada el 1945-11-25 con un retorno de 10.044642857142858. Sus costos=1344000 USD y ganancias=13500000.0 USD
 Película 18: The Shop Around the Corner, lanzada el 1975-03-13 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 19: The Asphalt Jungle, lanzada el 1968-05-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 20: Anchors Aweigh, lanzada el 1960-11-23 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 21: The Yearling, lanzada el 1999-11-12 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 22: Scaramouche, lanzada el 1972-12-21 con un retorno de 2.244925124792013. Sus costos=3005000 USD y ganancias=6746000.0 USD
 Película 23: A Tale of Two Cities, lanzada el 1983-12-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 24: Little Women, lanzada el 1944-12-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 25: National Velvet, lanzada el 1946-10-29 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 26: Adam's Rib, lanzada el 1976-02-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 27: A Night at the Opera, lanzada el 2003-01-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 28: Dr. Jekyll and Mr. Hyde, lanzada el 1967-06-21 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 29: Woman of the Year, lanzada el 1955-10-10 con un retorno de 0.0. Sus costos=3000000 USD y ganancias=0.0 USD
 Película 30: The Canterville Ghost, lanzada el 1990-12-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 31: Strange Cargo, lanzada el 1963-06-19 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 32: The Rack, lanzada el 1947-08-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 33: After the Thin Man, lanzada el 1941-05-23 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 34: Love Crazy, lanzada el 1993-03-04 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 35: Bad Day at Black Rock, lanzada el 1991-11-01 con un retorno de 2.980330448465775. Sus costos=1271000 USD y ganancias=3788000.0 USD
 Película 36: I Love You Again, lanzada el 1961-05-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 37: Battleground, lanzada el 1936-08-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 38: The Divorcee, lanzada el 1949-12-14 con un retorno de 0.0. Sus costos=340 USD y ganancias=0.0 USD
 Película 39: Blackboard Jungle, lanzada el 1970-02-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 40: Northwest Passage, lanzada el 1939-06-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 41: The Picture of Dorian Gray, lanzada el 1960-03-31 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 42: Anna Christie, lanzada el 1954-07-03 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 43: The Clock, lanzada el 2002-05-10 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 44: Lassie Come Home, lanzada el 1960-11-04 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 45: The Mask of Fu Manchu, lanzada el 1962-05-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 46: He Who Gets Slapped, lanzada el 1924-12-04 con un retorno de 0.0. Sus costos=172000 USD y ganancias=0.0 USD
 Película 47: Greed, lanzada el 1927-06-04 con un retorno de 0.0. Sus costos=546883 USD y ganancias=0.0 USD
 Película 48: The Crowd, lanzada el 1929-06-05 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 49: The Champ, lanzada el 1933-12-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 50: Rasputin and the Empress, lanzada el 1932-06-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 51: The Barretts of Wimpole Street, lanzada el 1934-11-02 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 52: The Merry Widow, lanzada el 1935-04-26 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 53: Mark of the Vampire, lanzada el 1936-10-09 con un retorno de 0.0. Sus costos=305177 USD y ganancias=0.0 USD
 Película 54: Fury, lanzada el 1936-05-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 55: Libeled Lady, lanzada el 1936-03-18 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 56: Wife vs. Secretary, lanzada el 1937-11-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 57: Camille, lanzada el 1937-09-03 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 58: Captains Courageous, lanzada el 1937-10-08 con un retorno de 0.0. Sus costos=1645000 USD y ganancias=0.0 USD
 Película 59: The Shopworn Angel, lanzada el 1939-10-13 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 60: Boom Town, lanzada el 1941-12-02 con un retorno de 4.586. Sus costos=2000000 USD y ganancias=9172000.0 USD
 Película 61: A Guy Named Joe, lanzada el 1943-01-01 con un retorno de 2.041492196421774. Sus costos=2627000 USD y ganancias=5363000.0 USD
 Película 62: The Heavenly Body, lanzada el 1944-03-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 63: The White Cliffs of Dover, lanzada el 1945-04-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 64: Easter Parade, lanzada el 1948-03-04 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 65: The Pirate, lanzada el 1949-01-01 con un retorno de 0.798918918918919. Sus costos=3700000 USD y ganancias=2956000.0 USD
 Película 66: In the Good Old Summertime, lanzada el 1950-05-17 con un retorno de 0.0. Sus costos=3400000 USD y ganancias=0.0 USD
 Película 67: Summer Stock, lanzada el 1952-11-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 68: The Prisoner of Zenda, lanzada el 1953-10-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 69: The Cobweb, lanzada el 1955-09-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 70: Boys Town, lanzada el 1991-06-08 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 71: The Mortal Storm, lanzada el 1933-06-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 72: Girl Crazy, lanzada el 2003-01-18 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 73: Waterloo Bridge, lanzada el 1963-12-19 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 74: Blossoms in the Dust, lanzada el 1978-03-08 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 75: San Francisco, lanzada el 1939-11-11 con un retorno de 4.056153846153846. Sus costos=1300000 USD y ganancias=5273000.0 USD
 Película 76: The Human Comedy, lanzada el 1959-10-21 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 77: Babes in Arms, lanzada el 1979-02-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 78: Somebody Up There Likes Me, lanzada el 2004-11-02 con un retorno de 1.75. Sus costos=1920000 USD y ganancias=3360000.0 USD
 Película 79: Father's Little Dividend, lanzada el 1938-09-30 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 80: At the Circus, lanzada el 2005-06-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 81: Broadway Melody of 1940, lanzada el 1966-12-16 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 82: The Last of Mrs. Cheyney, lanzada el 2002-08-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 83: Go West, lanzada el 1964-12-19 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 84: Evelyn Prentice, lanzada el 1997-04-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 85: Tarzan the Ape Man, lanzada el 1955-09-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 86: Tarzan and His Mate, lanzada el 1975-10-08 con un retorno de 0.0. Sus costos=95 USD y ganancias=0.0 USD
 Película 87: Ziegfeld Follies, lanzada el 1938-10-29 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 88: David Copperfield, lanzada el 2004-11-20 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 89: Hallelujah, lanzada el 1983-12-22 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 90: A Woman's Face, lanzada el 2004-09-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 91: The Big House, lanzada el 2006-01-18 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 92: The Naked Spur, lanzada el 2005-09-05 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 93: Mata Hari, lanzada el 2006-05-03 con un retorno de 3.991039426523298. Sus costos=558000 USD y ganancias=2227000.0 USD
 Película 94: The Ace of Hearts, lanzada el 2006-07-21 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 95: Test Pilot, lanzada el 2006-06-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 96: Susan Lenox (Her Fall and Rise), lanzada el 2005-09-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 97: The Bribe, lanzada el 2005-06-02 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 98: China Seas, lanzada el 2006-07-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 99: Good News, lanzada el 1921-12-31 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 100: State of the Union, lanzada el 2006-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 101: Min and Bill, lanzada el 1960-11-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 102: Red-Headed Woman, lanzada el 1961-12-23 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 103: Mad Love, lanzada el 2006-09-22 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 104: Red Dust, lanzada el 2007-05-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 105: Laugh, Clown, Laugh, lanzada el 2001-02-21 con un retorno de 0.0. Sus costos=293000 USD y ganancias=0.0 USD
 Película 106: Keeper of the Flame, lanzada el 2008-02-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 107: Tarzan Finds a Son!, lanzada el 2006-09-12 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 108: West of Zanzibar, lanzada el 1984-01-10 con un retorno de 3.555984555984556. Sus costos=259000 USD y ganancias=921000.0 USD
 Película 109: Tell It to the Marines, lanzada el 1974-10-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 110: The Unholy Three, lanzada el 1972-01-01 con un retorno de 6.834951456310679. Sus costos=103000 USD y ganancias=704000.0 USD
 Película 111: The Devil-Doll, lanzada el 2008-05-07 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 112: Mr. Wu, lanzada el 1942-12-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 113: The Blackbird, lanzada el 1988-02-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 114: Manhattan Melodrama, lanzada el 1988-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 115: Private Lives, lanzada el 2006-11-03 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 116: Escape from Fort Bravo, lanzada el 2003-08-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 117: The Smart Set, lanzada el 1964-06-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 118: Show People, lanzada el 1941-07-07 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 119: A Free Soul, lanzada el 2008-03-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 120: Madame Bovary, lanzada el 1975-08-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 121: Mystery Street, lanzada el 1957-04-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 122: Vengeance Valley, lanzada el 1997-10-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 123: Operator 13, lanzada el 1960-02-19 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 124: Night Must Fall, lanzada el 2010-04-28 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 125: Romeo and Juliet, lanzada el 1990-01-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 126: Tortilla Flat, lanzada el 2010-06-16 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 127: Three Little Words, lanzada el 2010-01-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 128: A Woman of Affairs, lanzada el 1942-04-24 con un retorno de 0.0. Sus costos=383000 USD y ganancias=0.0 USD
 Película 129: Sweethearts, lanzada el 2007-05-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 130: The Fastest Gun Alive, lanzada el 2006-08-10 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 131: The Patsy, lanzada el 2008-11-11 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 132: Peg o' My Heart, lanzada el 1934-12-13 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 133: Downstairs, lanzada el 1970-03-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 134: Five and Ten, lanzada el 1969-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 135: Treasure Island, lanzada el 2009-04-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 136: Comrade X, lanzada el 1949-08-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 137: Conquest, lanzada el 1982-10-15 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 138: Design for Scandal, lanzada el 1955-08-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 139: Broadway Melody of 1936, lanzada el 1949-06-02 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 140: Remote Control, lanzada el 2010-01-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 141: Suzy, lanzada el 1963-05-29 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 142: The Actress, lanzada el 2007-11-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 143: Neptune's Daughter, lanzada el 2005-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 144: Madam Satan, lanzada el 2005-08-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 145: The Story of Three Loves, lanzada el 1997-05-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 146: The Student Prince in Old Heidelberg, lanzada el 2010-04-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 147: Billy the Kid, lanzada el 1941-11-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 148: Riffraff, lanzada el 1956-06-14 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 149: The Great Waltz, lanzada el 2008-09-12 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 150: Stars in My Crown, lanzada el 1968-05-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 151: Spring Fever, lanzada el 2007-01-11 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 152: The Gorgeous Hussy, lanzada el 1979-05-01 con un retorno de 1.804289544235925. Sus costos=1119000 USD y ganancias=2019000.0 USD
 Película 153: Of Human Hearts, lanzada el 2002-04-10 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 154: They Gave Him a Gun, lanzada el 1969-03-17 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 155: Rage in Heaven, lanzada el 1984-03-12 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 156: Emma, lanzada el 2011-02-16 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 157: Mannequin, lanzada el 2010-09-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 158: Smilin' Through, lanzada el 2005-05-31 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 159: Invitation to the Dance, lanzada el 2011-05-05 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 160: The Sin of Madelon Claudet, lanzada el 2009-08-27 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 161: Gabriel Over the White House, lanzada el 1945-04-07 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 162: When Ladies Meet, lanzada el 2009-11-10 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 163: Possessed, lanzada el 1951-04-20 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 164: The Mysterious Lady, lanzada el 2009-03-14 con un retorno de 1.6350148367952522. Sus costos=337 USD y ganancias=551.0 USD
 Película 165: Souls for Sale, lanzada el 2009-11-18 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 166: Escape, lanzada el 1990-03-25 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 167: Payment Deferred, lanzada el 2011-06-24 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 168: The Toast of New Orleans, lanzada el 1999-09-09 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 169: Bathing Beauty, lanzada el 1967-05-31 con un retorno de 2.919102075391783. Sus costos=2361000 USD y ganancias=6892000.0 USD

In [132]:
get_director('Joe Ranft')

El director Joe ranft ha obtenido un éxito de 44.16. Sus películas:
Película 1: Toy Story, lanzada el 1995-10-30 con un retorno de 12.4518011. Sus costos=30000000 USD y ganancias=373554033.0 USD
 Película 2: Beauty and the Beast, lanzada el 1991-11-13 con un retorno de 15.09402212. Sus costos=25000000 USD y ganancias=377350553.0 USD
 Película 3: The Little Mermaid, lanzada el 1992-12-10 con un retorno de 5.5575. Sus costos=40000000 USD y ganancias=222300000.0 USD
 Película 4: The Rescuers Down Under, lanzada el 1978-03-10 con un retorno de 1.2504669267881152. Sus costos=37931000 USD y ganancias=47431461.0 USD
 Película 5: A Bug's Life, lanzada el 1998-01-16 con un retorno de 3.027157158333333. Sus costos=120000000 USD y ganancias=363258859.0 USD
 Película 6: The Brave Little Toaster, lanzada el 1987-01-16 con un retorno de 0.0. Sus costos=2000000 USD y ganancias=0.0 USD
 Película 7: Corpse Bride, lanzada el 2005-09-30 con un retorno de 2.929876525. Sus costos=40000000 USD y ganancias=117195061.0 USD
 Película 8: Cars, lanzada el 1996-10-17 con un retorno de 3.849859575. Sus costos=120000000 USD y ganancias=461983149.0 USD
 Película 9: Geri's Game, lanzada el 1995-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 10: Mater and the Ghostlight, lanzada el 2014-11-05 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD

In [ ]:
def get_director( nombre_director):
    nombres = director['name']
    
    for nombre in nombres:
        if nombre == nombre_director:
           
            peliculas= (director[director['name'] == nombre_director]['title']).drop_duplicates()
            exito= (director[director['name'] == nombre_director]['release_date']).drop_duplicates()
            retorno=(director[director['name'] == nombre_director]['return'].drop_duplicates()).sum().round(2)
            costo= (director[director['name'] == nombre_director]['release_date'].drop_duplicates)
            ganancia= (director[director['name'] == nombre_director]['release_date']).drop_duplicates()
        
            return f"El actor {nombre.capitalize()} ha obtenido un exito de {exito}. Sus peliculas: {peliculas} lanzada el {fecha} con un retorno= {retorno}, costo= {costo}USD y ganancia= {ganancia}USD "
    
    return  'No se ha encontrado el actor solicitado.'