In [1]:
import pandas as pd
import numpy as np

In [30]:
df_movies= pd.read_csv('../ETL/movies_limpio.csv')
df_cast= pd.read_csv('../ETL/cast.csv')
df_crew= pd.read_csv('../ETL/crew.csv')

C:\Users\clari\AppData\Local\Temp\ipykernel_15740\2785165809.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies= pd.read_csv('../ETL/movies_limpio.csv')

In [37]:
def cantidad_filmaciones_mes(mes):
    meses = {
        "enero": 1,
        "febrero": 2,
        "marzo": 3,
        "abril": 4,
        "mayo": 5,
        "junio": 6,
        "julio": 7,
        "agosto": 8,
        "septiembre": 9,
        "octubre": 10,
        "noviembre": 11,
        "diciembre": 12
    }

    if mes.lower() in meses:
        numero_mes = meses[mes.lower()]
        cantidad_peliculas = obtener_cantidad_peliculas_mes(numero_mes)
        return f"{cantidad_peliculas} película(s) fueron estrenadas en el mes de {mes.capitalize()}."
    else:
        return "El mes ingresado no es válido."

# Función auxiliar para obtener la cantidad de películas estrenadas en x mes
def obtener_cantidad_peliculas_mes(numero_mes):
    cantidad_peliculas = len(df_movies[df_movies['release_month'] == numero_mes])
    return cantidad_peliculas


#prueba
mes_consultado = "Junio"
resultado = cantidad_filmaciones_mes(mes_consultado)
print(resultado)

3145 película(s) fueron estrenadas en el mes de Junio.

# funcion dia

In [124]:
def cantidad_filmaciones_dia(dia:str):
    dia=dia.lower()
    dias=['lunes','martes','miercoles','jueves','viernes','sabado','domingo']
    
    if dia == "lunes" or dia == "martes" or dia == "miércoles" or dia == "jueves" or dia == "viernes" or dia == "sábado" or dia == "domingo":
        aux_dia = dias.index(dia)
        df_movies["release_date"] = pd.to_datetime(df_movies["release_date"])
        df_movies["release_day"] = df_movies["release_date"].dt.weekday
        resultado = df_movies.loc[df_movies["release_day"] == aux_dia].shape[0]
        return f"{resultado} película(s) fueron estrenadas en los días {dia.capitalize()}."  
    
    else:
        resultado = 'El día ingresado no es válido'
        return resultado  
   
   
cantidad_filmaciones_dia('martes')

'4630 película(s) fueron estrenadas en los días Martes.'

# Score

In [209]:
def score_titulo(titulo_de_la_filmacion):
    titulos = df_movies['title']
    
    for titulo in titulos:
        if titulo == titulo_de_la_filmacion:
            fecha_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['release_year']
            popularidad_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['popularity']
            
            if not fecha_series.empty and not popularidad_series.empty:
                fecha = fecha_series.astype(str).iloc[0]
                popularidad = popularidad_series.astype(str).iloc[0]
                return f"La película {titulo.capitalize()} fue estrenada en el año {fecha} con una puntuación/popularidad de {popularidad}."
    
    return 'No se ha encontrado el título de la filmación'

In [210]:
print(score_titulo("Toy Story"))
print(score_titulo("A Death in the Gunj"))
print(score_titulo("Waiting to Exhale"))

La película Toy story fue estrenada en el año 1995 con una puntuación/popularidad de 21.946943.
La película A death in the gunj fue estrenada en el año 1991 con una puntuación/popularidad de 0.516993.
La película Waiting to exhale fue estrenada en el año 1995 con una puntuación/popularidad de 3.859495.

In [207]:
df_movies['title']

0                            Toy Story
1                              Jumanji
2                     Grumpier Old Men
3                    Waiting to Exhale
4          Father of the Bride Part II
                     ...
45286              A Death in the Gunj
45287                        Phillauri
45288                     Polar Flight
45289    Simbad e il califfo di Bagdad
45290                        Black Sun
Name: title, Length: 45291, dtype: object

In [184]:
titulos= df_movies['title']
buscado='Toy Story'
for titulo in titulos:
    buscado='Toy Story'
    if titulo == buscado:
        fecha= df_movies[df_movies['title']== buscado]['release_date'].astype(str)[0]
        print(titulo, fecha)
        break
    else:
        print('no esta la pelicula')

Toy Story 1995-10-30

In [183]:
fecha= df_movies[df_movies['title']== buscado]['release_date'].astype(str)[0]
fecha

'1995-10-30'

In [188]:
popularidad= df_movies[df_movies['title']== buscado]['popularity'].astype(str)[0]
popularidad

'21.946943'

# Votos

In [26]:
def votos_titulo(titulo_de_la_filmacion) : 
    titulos = df_movies['title']
    
    for titulo in titulos:
        if titulo == titulo_de_la_filmacion:
            fecha_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['release_year']
            n_votos_series =  df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_count'].astype(int)
            promedio_series = df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_average']
            
            if not n_votos_series.empty and not fecha_series.empty and not promedio_series.empty:
                fecha = fecha_series.astype(str).iloc[0]
                n_votos = int(n_votos_series.astype(str).iloc[0])
                promedio= promedio_series.astype(str).iloc[0]
                
                if n_votos >= 2000:
                 return f"La película {titulo.capitalize()} fue estrenada en el año {fecha}. La misma cuenta con un total de {n_votos} valoraciones, con un promedio de {promedio}."
    
    return 'La filmacion no cuenta con suficientes votos para obtener la informacion solicitada.'

In [30]:
print(votos_titulo('Toy Story'))
print(votos_titulo('Grumpier Old Men'))

La película Toy story fue estrenada en el año 1995. La misma cuenta con un total de 5415 valoraciones, con un promedio de 7.7.
La filmacion no cuenta con suficientes votos para obtener la informacion solicitada.

In [17]:
titulo_de_la_filmacion= "Toy Story"

In [14]:
n_votos =  df_movies[df_movies['title'] == titulo_de_la_filmacion]['vote_count'].astype(int)
n_votos

0    5415
Name: vote_count, dtype: int32

# actor

In [32]:
from pandas.core.reshape.merge import merge
#me da un error en el tipo de datos, por lo que convertire la columna id a numerico
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce')# los que no son numericos los paso a nan
df_movies = df_movies.dropna(subset=['id'])#aqui elimino los nan
df_movies['id'] = df_movies['id'].astype(int)#convierto a entero

In [33]:
actor = df_cast.merge(df_movies[['title', "return", 'id']], how="left", on="id")  
actor

,Unnamed: 0,cast_id,character,credit_id,gender,id,name,order,profile_path,title,return
0,0,14,Woody (voice),52fe4284c3a36847f8024f95,2,862,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,Toy Story,12.451801
1,1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,862,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,Toy Story,12.451801
2,2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,862,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,Toy Story,12.451801
3,3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,862,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,Toy Story,12.451801
4,4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,862,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,Toy Story,12.451801
...,...,...,...,...,...,...,...,...,...,...,...
562524,562127,2,NaN,52fe4ea59251416c7515d7d5,2,227506,Iwan Mosschuchin,0,NaN,NaN,NaN
562525,562128,3,NaN,52fe4ea59251416c7515d7d9,1,227506,Nathalie Lissenko,1,NaN,NaN,NaN
562526,562129,4,NaN,52fe4ea59251416c7515d7dd,2,227506,Pavel Pavlov,2,NaN,NaN,NaN
562527,562130,5,NaN,52fe4ea59251416c7515d7e1,0,227506,Aleksandr Chabrov,3,NaN,NaN,NaN
562528,562131,6,NaN,52fe4ea59251416c7515d7e5,1,227506,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,NaN,NaN

In [34]:
actor.to_csv('actor.csv')

In [35]:
nombres= actor['name']
buscado='Tim Allen'

for nombre in nombres:
    buscado='Tim Allen'
    if nombre == buscado:
        contador = actor[actor['name'] == buscado]['title'].shape[0]
        retorno_total = actor[actor['name'] == buscado]['return'].sum()
        retorno_promedio= retorno_total/ contador
        print(nombre ,contador, retorno_total, retorno_promedio )
        break
    else:
        print('no esta la pelicula')

no esta la pelicula
Tim Allen 29 50.202883432249976 1.7311339114568958

In [36]:
def get_actor(nombre_actor) :
    nombres = actor['name'] 
    
    for nombre in nombres:
        if nombre == nombre_actor:
            contador= actor[actor['name'] == nombre_actor]['title'].shape[0]
            retorno_total = actor[actor['name'] == nombre_actor]['return'].sum().round(2)
            retorno_promedio = (retorno_total / contador).round(2)
            
        
            return f"El actor {nombre.capitalize()} ha recibido de {contador} filmaciones, un retorno de {retorno_total} con un promedio de {retorno_promedio} por filmación."
    
    return  'No se ha encontrado el actor solicitado.'

In [37]:
get_actor('Tim Allen')

'El actor Tim allen ha recibido de 29 filmaciones, un retorno de 50.2 con un promedio de 1.73 por filmación.'

# Director

In [58]:
#hago un  merge entre crew y movies para armar un dataset mas chico para las consultas
director = df_crew.merge(df_movies[['title', 'release_date','budget', 'revenue','return', 'id']], how='left', on='id')  
director

,Unnamed: 0,credit_id,department,gender,id,job,name,profile_path,title,release_date,budget,revenue,return
0,0,52fe4284c3a36847f8024f49,Directing,2,862,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
1,1,52fe4284c3a36847f8024f4f,Writing,2,862,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
2,2,52fe4284c3a36847f8024f55,Writing,2,862,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
3,3,52fe4284c3a36847f8024f5b,Writing,2,862,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
4,4,52fe4284c3a36847f8024f61,Writing,0,862,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,Toy Story,1995-10-30,30000000,373554033.0,12.451801
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464358,463922,52fe4776c3a368484e0c8399,Sound,0,67758,Original Music Composer,Richard McHugh,NaN,NaN,NaN,NaN,NaN,NaN
464359,463923,52fe4776c3a368484e0c839f,Camera,2,67758,Director of Photography,João Fernandes,NaN,NaN,NaN,NaN,NaN,NaN
464360,463924,533bccebc3a36844cf0011a7,Directing,0,227506,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg,NaN,NaN,NaN,NaN,NaN
464361,463925,58ebbc26925141281908aa0a,Production,2,227506,Producer,Joseph N. Ermolieff,NaN,NaN,NaN,NaN,NaN,NaN
464362,463926,593e676c92514105b702e68e,Directing,0,461257,Director,Daisy Asquith,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
director.drop_duplicates(inplace=True)
director.reset_index(drop=True, inplace=True)

In [133]:
director.to_csv('director.csv')

In [129]:
director['name'][20]

'Joe Ranft'

In [131]:
def get_director(nombre_director):
    nombres = director['name']
    
    for nombre in nombres:
        if nombre == nombre_director:
            peliculas = (director[director['name'] == nombre_director]['title']).drop_duplicates()
            exito = (((director[director['name'] == nombre_director]['return']).drop_duplicates()).sum()).round(2)
            
        
            resultado = f"El director {nombre.capitalize()} ha obtenido un éxito de {exito}. Sus películas:\n"
            
            for i, pelicula in enumerate(peliculas):
                fecha_lanzamiento = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['release_date'].iloc[0]
                retorno = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['return'].iloc[0]
                costo = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['budget'].iloc[0]
                ganancia = director[(director['name'] == nombre_director) & (director['title'] == pelicula)]['revenue'].iloc[0]
                
                resultado += f"Película {i+1}: {pelicula}, lanzada el {fecha_lanzamiento} con un retorno de {retorno}. Sus costos={costo} USD y ganancias={ganancia} USD \n "
            
           
            
            return print(resultado)
    
    return 'No se ha encontrado el director solicitado.'

In [132]:
get_director('Joe Ranft')

El director Joe ranft ha obtenido un éxito de 44.16. Sus películas:
Película 1: Toy Story, lanzada el 1995-10-30 con un retorno de 12.4518011. Sus costos=30000000 USD y ganancias=373554033.0 USD
 Película 2: Beauty and the Beast, lanzada el 1991-11-13 con un retorno de 15.09402212. Sus costos=25000000 USD y ganancias=377350553.0 USD
 Película 3: The Little Mermaid, lanzada el 1992-12-10 con un retorno de 5.5575. Sus costos=40000000 USD y ganancias=222300000.0 USD
 Película 4: The Rescuers Down Under, lanzada el 1978-03-10 con un retorno de 1.2504669267881152. Sus costos=37931000 USD y ganancias=47431461.0 USD
 Película 5: A Bug's Life, lanzada el 1998-01-16 con un retorno de 3.027157158333333. Sus costos=120000000 USD y ganancias=363258859.0 USD
 Película 6: The Brave Little Toaster, lanzada el 1987-01-16 con un retorno de 0.0. Sus costos=2000000 USD y ganancias=0.0 USD
 Película 7: Corpse Bride, lanzada el 2005-09-30 con un retorno de 2.929876525. Sus costos=40000000 USD y ganancias=117195061.0 USD
 Película 8: Cars, lanzada el 1996-10-17 con un retorno de 3.849859575. Sus costos=120000000 USD y ganancias=461983149.0 USD
 Película 9: Geri's Game, lanzada el 1995-01-01 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD
 Película 10: Mater and the Ghostlight, lanzada el 2014-11-05 con un retorno de 0.0. Sus costos=0 USD y ganancias=0.0 USD

In [ ]:
def get_director( nombre_director):
    nombres = director['name']
    
    for nombre in nombres:
        if nombre == nombre_director:
           
            peliculas= (director[director['name'] == nombre_director]['title']).drop_duplicates()
            exito= (director[director['name'] == nombre_director]['release_date']).drop_duplicates()
            retorno=(director[director['name'] == nombre_director]['return'].drop_duplicates()).sum().round(2)
            costo= (director[director['name'] == nombre_director]['release_date'].drop_duplicates)
            ganancia= (director[director['name'] == nombre_director]['release_date']).drop_duplicates()
        
            return f"El actor {nombre.capitalize()} ha obtenido un exito de {exito}. Sus peliculas: {peliculas} lanzada el {fecha} con un retorno= {retorno}, costo= {costo}USD y ganancia= {ganancia}USD "
    
    return  'No se ha encontrado el actor solicitado.'

In [ ]:
#Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get('/')).

#def cantidad_filmaciones_mes( Mes) : Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del conjunto de datos.
#                   Ejemplo de retorno: Xcantidad de peliculas fueron estrenadas en el mes deX

#def cantidad_filmaciones_dia( Dia) : Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el día consultado en la totalidad del conjunto de datos.
#                    Ejemplo de retorno: Xcantidad de películas fueron estrenadas en los díasX

#def score_titulo( titulo_de_la_filmación) : Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
#                    Ejemplo de retorno: La película Xfue estrenada en el año Xcon una puntuación/popularidad deX

#def votos_titulo( titulo_de_la_filmación) : Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
#                    Ejemplo de retorno: La película Xfue estrenada en el año X. La misma cuenta con un total de Xvaloraciones, con un promedio deX

#def get_actor( nombre_actor) : Se ingresa el nombre de un actor que se encuentra dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha realizado y el promedio de retorno. La definición no deberá considerar directores.
#                   Ejemplo de retorno: El actor Xha recibido de Xcantidad de filmaciones, el mismo ha obtenido un retorno de Xcon un promedio de Xpor filmación

#def get_director( nombre_director) : Se ingresa el nombre de un director que se encuentra dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [49]:
movies= pd.read_csv('../ETL/movies_limpio.csv')

C:\Users\clari\AppData\Local\Temp\ipykernel_15740\489946956.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  movies= pd.read_csv('../ETL/movies_limpio.csv')

In [50]:
movies['title'][18]

'Ace Ventura: When Nature Calls'